<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon1.png') }}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>

<!--

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

-->
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
          <div class="nav-wrapper container"><img src="static/icon1.png" alt=""height="63" width="60"/>

          <ul class="right hide-on-med-and-down">
           
         
            <li >
                <a  href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li >
                <a  href="{{ url_for('about')}}">About</a>
            </li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    
            
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
                                <img src="https://media-exp1.licdn.com/dms/image/C5603AQFExwQ5BU-lHw/profile-displayphoto-shrink_200_200/0/1609430988514?e=1632355200&v=beta&t=ekGxY419PTbBsSTMxyB5C00B__UtIWR1SNueVzGXMDg" alt="">
                                <p>Hello, I am Apoorv Upadhyay- Computer Science Student at M.B.M Engineering College <br> and this Sentiment analyser was made as a part of my third year practical training at the <br>Institute. 
                                    <br>
                                    <b>Bacherlor's Of Computer Science Engineering</b> <br>
                                    <b>M.B.M Engineering College</b> <br>
                                    <b>Jodhpur</b>
                                    <br><br>
                                    
                                    

                                </p>
                            </div> 
                        </div>
                  
            
             
        <footer class="page-footer orange">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Apoorv Upadhyay</h5>
                  <p class="grey-text text-lighten-4">This app can be used to check the sentiment of a restaurant's review moreover it can be further developed to be used to check the performance of a restaurant by displaying the percentage of positive and negaitve reviews.</p>
        
        
                </div>
                <div class="col l3 s12"></div>
                <div class="col l3 s12">
                  <h5 class="white-text">Connect</h5>
                  <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/apoorv-upadhyay-76805bbb/">LinkedIn <i class="fab fa-linkedin fa-lg contact-icon"></i></a></li>
                    <li><a class="white-text" href="https://github.com/heyitsapoorv">Github &nbsp<i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a class="white-text" href="https://www.instagram.com/heyitsapoorv/">Instagram <i class="fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
                &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp© Made by Apoorv Upadhyay
              </div>
            </div>
          </footer>
        
        
          <!--  Scripts-->
          <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script src=".js/materialize.js"></script>
          <script src="js/init.js"></script>
</body>
</html>